* ========================= */
/* HOME BUTTON */
/* ========================= */

.home-btn{
    margin-top:35px;
    text-align:center;
    color:#1f2937;
}

.home-btn a{
    display:inline-block;

    padding:14px 28px;

    border-radius:16px;

    text-decoration:none;

    color:rgb(19, 40, 49);

    font-size:15px;
    font-weight:600;

    background:rgba(255,255,255,0.10);

    border:1px solid rgba(255,255,255,0.12);

    backdrop-filter:blur(14px);

    box-shadow:
        0 8px 24px rgba(0,0,0,0.25),
        inset 0 1px 1px rgba(255,255,255,0.06);

    transition:0.3s ease;
}

.home-btn a:hover{
    transform:translateY(-3px) scale(1.03);

    background:linear-gradient(135deg, #6366f1, #3b82f6);

    box-shadow:
        0 10px 24px rgba(59,130,246,0.35);
}