
        body{
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
        }

        .form{
            width: 500px;
            margin: 50px auto;
            padding: 30px;
            border-radius: 50px;
            background-color: white;
            box-shadow: 0px 0px 10px rgb(23, 20, 241);
        }

        h2{
            text-align: center;
            color: rgb(49, 0, 128);
            margin-bottom: 40px;
        }

        label{
            font-size: 28px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="password"]{

            width: 100%;
            padding: 15px;
            margin: 10px 0 25px 0;
            border: 1px dotted rgb(76, 175, 76);
            border-radius: 8px;
            box-sizing: border-box;
            font-size: 18px;
        }

        input[type="submit"]{

            width: 100%;
            padding: 14px;
            border: none;
            border-radius: 8px;
            background-color:hsl(204, 88%, 32%);
            color: white;
            font-size: 22px;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
        }

        input[type="submit"]:hover{
            background-color: #3639c4;
            transform: scale(1.02);
        }

        .registerBtn{
            background-color: green;
        }

        .registerBtn:hover{
            background-color: darkgreen;
        }

        .text{
            text-align: center;
            font-size: 20px;
            margin-top: 25px;
            margin-bottom: 10px;
        }

        .forgot{
            text-align: center;
            margin-top: 20px;
        }

        .forgot a{
            text-decoration: none;
            color: rgb(49, 0, 128);
            font-size: 18px;
        }

    